@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ant-pagination-item-active {
  background-color: black !important;
  border-color: black !important;
}

.ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination-item-link-icon {
  color: gray !important;
}

/* Ẩn các scrollbar */
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

@media print {
  body {
    zoom: 65%; /* Thu nhỏ toàn bộ nội dung để vừa 1 trang A4 */
    margin: 0;
    padding: 0;
  }

  @page {
    size: auto; /* hoặc auto */
    margin: 10mm;
  }
}
